.detailsContainer{
  color: white;
  padding-left: 5rem;
  border: 3px solid black;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button{
  }
}